.Pages {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  list-style: none;
}
.Pages :is(a:link, a:visited, strong) {
  color: var(--main-color);
  text-decoration: none;
}
.Pages li {
  align-items: center;
  background: var(--main-color-light);
  border-radius: 0.2rem;
  border: 0.1rem solid var(--main-color-light);
  box-sizing: border-box;
  cursor: move;
  box-shadow: var(--box-shadow-mid);
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  justify-items: center;
  line-height: 1;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 2rem;
  width: 100%;
}
.Pages li:hover {
  background: var(--main-color-dark);
  color: var(--main-color-light);
}
.Pages li:hover :is(a:link, a:visited, strong) {
  color: var(--main-color-light);
}
.Pages li.dropArea {
  color: white !important;
  background: white !important;
  position: relative;
}
.Pages li.dropArea {
  transform: translateX(2%);
  transition: all var(--transition-main);
}
.Pages li.dropArea::before {
  background: var(--main-color-light);
  align-items: center;
  border-radius: 0.2rem;
  border: 0.2rem dashed -var(--main-color);
  color: var(--main-color);
  content: "Soltar";
  display: flex;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  transform: translateX(0%);
}
.Pages li a {
  flex: 1;
}
.Pages :is(button, strong) {
  border: 0.1rem solid var(--main-color);
  border-radius: 0.2rem;
  color: var(--main-color);
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all var(--transition-main);
  margin-left: 1rem;
  cursor: pointer;
  transition: all var(--transition-main);
}
.Pages :is(button, strong):hover {
  background: var(--main-color-dark);
  color: var(--main-color-light);
  border-color: var(--main-color-light);
}
.Pages__buton--delete:hover{
  filter: hue-rotate(185deg) brightness(3.6);
}
.Pages .Pages__move {
  cursor: grab;
}
form {
  width: 100%;
  box-sizing: border-box;
}
form input {
  box-sizing: border-box;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
}

form input[type=submit]{
  background: var(--main-color-light);
  border-radius: .2rem;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  cursor: pointer;
  font-weight: bold;
  transition: all var(--transition-main);
}
form input[type=submit]:hover{
  background: var(--main-color);
  color: var(--main-color-light);
  border-color: var(--main-color-light);
}
