.Pages {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.Pages :is(a:link, a:visited, strong) {
  color: var(--main-color);
  text-decoration: none;
}
.Pages li {
  align-items: center;
  background: var(--main-color-light);
  border-radius: 0.2rem;
  border: 0.1rem solid var(--main-color-light);
  box-shadow: var(--box-shadow-mid);
  box-sizing: border-box;
  cursor: move;
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  justify-items: center;
  line-height: 1;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 100%;
}
.Pages li:hover {
  background: var(--main-color-dark);
  color: var(--main-color-light);
}
.Pages li a {
  background-size: cover;
  background-image: linear-gradient(
    90deg,
    rgb(255 255 255 / 100%) 80%,
    var(--main-color-light)
  );
}
.Page button {
  background-color: var(--main-color-light);
}
.Pages li:hover :is(a:link, a:visited, strong) {
  color: var(--main-color-light);
  background-image: none;
}
.Pages li.dropArea {
  color: white !important;
  background: white !important;
  position: relative;
}
.Pages li.dropArea {
  transform: translateX(2%);
  transition: all var(--transition-main);
}
.Pages li.dropArea::before {
  background: var(--main-color-light);
  align-items: center;
  border-radius: 0.2rem;
  border: 0.2rem dashed -var(--main-color);
  color: var(--main-color);
  content: "Soltar";
  display: flex;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  transform: translateX(0%);
}
.Pages li a {
  flex: 1;
  padding: 1.4rem;
}
.Pages :is(button, strong) {
  border: 0.1rem solid var(--main-color);
  border-radius: 0.2rem;
  color: var(--main-color);
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all var(--transition-main);
  margin-left: 1rem;
  cursor: pointer;
  transition: all var(--transition-main);
}
.Pages :is(button, strong):hover {
  background: var(--main-color-dark);
  color: var(--main-color-light);
  border-color: var(--main-color-light);
}
.Pages__buton--delete:hover {
  filter: hue-rotate(169deg) brightness(3) saturate(1.6);
}
.Pages__buton--move {
  cursor: grab;
  margin-right: 1rem;
}
.Pages__buton--move:is(:hover, :active) {
  cursor: grab;
  filter: hue-rotate(45deg) brightness(3.6);
}
.Pages__buton--edit:is(:hover, :active) {
  filter: hue-rotate(327deg) brightness(3.6);
}