:root{
  --main-color: hsl(191, 68%, 30%);
  --main-color-mid: hsl(191, 68%, 95%);
  --main-color-light: hsl(191, 68%, 98%);
  --main-color-dark: hsl(191, 68%, 10%);
  --transition-main: .1s ease-in-out;
}
body{
  background: var(--main-color-dark);
  color: white;
}
.App{
  align-items: flex-start;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 3rem auto 0 auto;
  max-width: 900px;
}
.Pages{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Frame{
  display: flex;
  justify-content: center;
}