:root{
  --main-color: hsl(191, 68%, 30%);
  --main-color-mid: hsl(191, 68%, 95%);
  --main-color-light: hsl(191, 68%, 98%);
  --main-color-dark: hsl(191, 68%, 10%);
  --transition-main: .1s ease-in-out;
}
body{
  background: var(--main-color-dark);
  color: white;
}
.App{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3fr 2fr;
  max-width: 900px;
  margin: 4rem auto;
}

.Pages{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Frame{
  display: flex;
  justify-content: center;
  margin: 0 .5rem ;
}